# <u> FINAL PROJECT - DATAPOOL

# ADDIDAS SALES IN U.S.

In [2]:
import pandas as p

In [3]:
df=p.read_csv('Adidas US Sales.csv')

In [4]:
print(df)

      sales_id       retailer  retailer_id invoice_date     region  \
0            1    Foot Locker      1185732   06-11-2021  Southeast
1            2    Foot Locker      1185732   14-03-2020  Northeast
2            3      West Gear      1128299   19-01-2021       West
3            4        Walmart      1128299   17-06-2021  Southeast
4            5  Sports Direct      1197831   14-09-2021      South
...        ...            ...          ...          ...        ...
9632      9633         Amazon      1185732   18-11-2021  Northeast
9633      9634         Amazon      1185732   22-10-2021       West
9634      9635         Amazon      1185732   22-10-2021       West
9635      9636      West Gear      1185732   10-04-2021    Midwest
9636      9637  Sports Direct      1185732   05-10-2021  Northeast

               state           city                    product  \
0     South Carolina     Charleston      Men's Street Footwear
1           New York       New York              Men's Apparel
2         California  San Francisco    Men's Athletic Footwear
3            Florida        Orlando            Women's Apparel
4            Alabama     Birmingham    Women's Street Footwear
...              ...            ...                        ...
9632           Maine       Portland              Men's Apparel
9633          Alaska      Anchorage  Women's Athletic Footwear
9634          Alaska      Anchorage              Men's Apparel
9635         Indiana   Indianapolis              Men's Apparel
9636     Connecticut       Hartford              Men's Apparel

      price_per_unit  units_sold  total_sales  operating_profit sales_method
0                 50         278        13900               792       Online
1                 46         278        12788               435       Outlet
2                 47         278        13066               287       Outlet
3                103         218        22454              1257       Online
4                 36         278        10008               530       Outlet
...              ...         ...          ...               ...          ...
9632              65         150         9750              2438       Outlet
9633              65         150         9750              2438       Outlet
9634              75         150        11250              2813       Outlet
9635              65         150         9750              2925     In-store
9636              65         150         9750              2925     In-store

[9637 rows x 13 columns]

Describe the components of Dataset

In [5]:
print(df.describe())

          sales_id   retailer_id  price_per_unit   units_sold   total_sales  \
count  9637.000000  9.637000e+03     9637.000000  9637.000000   9637.000000
mean   4819.000000  1.173846e+06       45.218948   256.886064  12451.621355
std    2782.106606  2.636304e+04       14.704520   214.097600  12708.094249
min       1.000000  1.128299e+06        7.000000     6.000000    160.000000
25%    2410.000000  1.185732e+06       35.000000   106.000000   4068.000000
50%    4819.000000  1.185732e+06       45.000000   176.000000   7805.000000
75%    7228.000000  1.185732e+06       55.000000   350.000000  15834.000000
max    9637.000000  1.197831e+06      110.000000  1275.000000  82500.000000

       operating_profit
count       9637.000000
mean        3440.706029
std         5418.210200
min            8.000000
25%          192.000000
50%          437.000000
75%         5200.000000
max        39000.000000

Which retailer sold most units?

In [12]:
print(df[['units_sold','retailer']].max())

units_sold         1275
retailer      West Gear
dtype: object

What is the regionwise sales distribution?

In [10]:
print(df[['region', 'total_sales']].groupby('region').size())

region
Midwest      1865
Northeast    2376
South        1726
Southeast    1224
West         2446
dtype: int64

What are the citywise sales?

In [11]:
print(df[['city', 'total_sales']].groupby('city').size())

city
Albany            144
Albuquerque       216
Anchorage         144
Atlanta           216
Baltimore         144
Billings          144
Birmingham        216
Boise             216
Boston            216
Burlington        216
Charleston        288
Charlotte         144
Cheyenne          144
Chicago           141
Columbus          144
Dallas            216
Denver            144
Des Moines        144
Detroit           144
Fargo             144
Hartford          216
Honolulu          144
Houston           214
Indianapolis      144
Jackson           216
Knoxville         216
Las Vegas         216
Little Rock       216
Los Angeles       216
Louisville        144
Manchester        216
Miami             144
Milwaukee         144
Minneapolis       144
New Orleans       216
New York          216
Newark            144
Oklahoma City     216
Omaha             140
Orlando           216
Philadelphia      216
Phoenix           216
Portland          360
Providence        216
Richmond          216
Salt Lake City    216
San Francisco     214
Seattle           144
Sioux Falls       144
St. Louis         144
Wichita           144
Wilmington        144
dtype: int64

Which city generates maximum profit?

In [13]:
print(df[['operating_profit','city']].max())

operating_profit         39000
city                Wilmington
dtype: object

Which is the most sold product type?

In [14]:
print(df[['product','units_sold']].max())

product       Women's Street Footwear
units_sold                       1275
dtype: object

Which is the least selling product?

In [15]:
print(df[['product','units_sold']].min())

product       Men's Apparel
units_sold                6
dtype: object

Which region generates the least profit?

In [16]:
print(df[['region','operating_profit']].min())

region              Midwest
operating_profit          8
dtype: object

What are the different sales method?

In [17]:
print(df[['sales_method', 'units_sold']].groupby('sales_method').size())

sales_method
In-store    1740
Online      4887
Outlet      3010
dtype: int64